#main-heading {
    text-align: center;
}

body {
    background-color: darkgray;
}

nav {
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.active {
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-items {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    
}

.navbar-items:hover {
    background-color: rgb(102, 205, 205);
}


.blank-page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
    resize: none;
    overflow-wrap: break-word;
    width: 630px;
    height: 891px;
}


#top-items {
    background-color: mediumturquoise;
    margin-top: -30px;
    padding-top: 10px;
    margin-left: -20px;
    margin-right: -20px;
    height: fit-content;
}

.file-options-items, .insert-items, .font-options-items, .layout-options-items, .search-options-items{
    display: none;
    background-color: mediumturquoise;
}



.alt-blank-page {
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
    background-color: white;
    width: 670px;
    height: 150px;
    max-height: 150px;
    border: 1px solid black;
}